# Python
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/
.nbconvert/
*.nbconvert/
*.html
*.pdf
*.py

# CSV
*.csv

# VScode settings
.vscode/

# ML Models
*.pkl
*.h5
*.joblib
*.onnx